* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #585858;
}

.container {

    .cabecalho {
        padding: 1vh;
        background: #000;
        color: #fff;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        font-size: 3.5vh;

        p{
            background-color: #000;
        }

        p:hover {
            color: #585858;
            cursor: pointer;
        }
    }

    .logo {
        height: 6vh;
        cursor: pointer;
    }

    main {
        .principal {
            margin-top: 5vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            .img-principal {
                width: 50%;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border-radius: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .cadastrar {
                padding: 2vh;
                display: flex;
                justify-content: center;
                align-items: center;

                .login {
                    background-color: transparent;
                    color: #000000;
                    border-radius: 3vh;
                    padding: 1vw;
                    font-size: 1.5vw;
                    border: 3px solid #000000;
                    cursor: pointer;
                    font-weight: 600;
                }

                .login:hover {
                    color: #fff;
                }

                .texto {
                    text-align: center;
                    font-size: 4vh;
                    padding: 3px;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 600;
                }
            }
        }
    }
}